@import './../global-styles.module.scss';

.wrapper {
    padding: 0 12px;
}
.gridHeadItem {
    min-width: 200px;
}
.textMessage {
    background: $bgColor;
    padding: 10px;
    width: fit-content;
    margin-top: 12px;
}
.buttonWrapper {
    text-align: center;
    &__btn {
        width: 150px;
        padding: 5px 0;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 700;
        background: $color;
        color: $colorLight;
        border: 1px solid $color;
        transition: $transition;
        cursor: pointer;
        &:hover {
            background: $colorLight;
            color: $color;
        }
    }
}
.qrWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    &__btn {
        background: $color;
        color: $colorLight;
        border: 1px solid $color;
        transition: $transition;
        display: block;
        margin: 6px auto;
        padding: 5px 15px;
        border-radius: 5px;
        text-decoration: none;
        &:hover {
            background: $colorLight;
            color: $color;
        }
    }
}
.deleteBtnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    &__btn {
        background: $color;
        color: $colorLight;
        border: 1px solid $color;
        transition: $transition;
        display: block;
        margin: 6px auto;
        padding: 5px 15px;
        border-radius: 5px;
        text-decoration: none;
        &:hover {
            background: $colorLight;
            color: $color;
        }
    }
}