$color: #50895B;
$colorBorder: #fff;
$headColor: rgba(120, 217, 104, 0.72);
$bgColor: #E9F9E2;

//COLORS 
$colorLight: #fff;
$colorGray: #ccc;
$colorLightGray: rgb(241, 241, 241);
$colorBlackGray: rgb(134, 134, 134);
$colorBlack: rgb(19, 19, 19);
$colorBlue: rgb(191, 190, 255);
$colorRed: rgb(204, 58, 58);
$colorYellow: #e5ff00;
$transition: 0.1s all linear;
$colorError: rgb(214, 116, 116);