@import "./global-styles.module.scss";

//Input
.inputWrapper {
    margin-bottom: 12px;
}
.input {
    width: 250px;
    border: 1px solid $color;
    border-radius: 8px;
    padding: 10px 15px;
    &:focus {
        outline: none;
    }
}
//Button
.buttonWrapper {

}
.button {
    background: $color;
    padding: 5px 15px;
    color: $colorLight;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid $color;
    cursor: pointer;
    border-radius: 8px;
    transition: $transition;
    &:hover {
        color: $color;
        background: $colorLight;
    }
}