.adminContainer {
    display: flex;
    justify-content: space-between;
}
.adminContainerNavbar {
    width: 3%;
}
.adminContainerBody {
    width: 80%;
    min-width: 80%;
    // overflow-x: auto;
}
.adminContainerBodyAdmin {
    width: 97%;
    min-width: 97%;
}
.adminContainerScan {
    width: 17%;
}
.adminContainerTitle {
    font-size: 24px;
    padding: 12px;
    font-weight: 700;
}